*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

.main_container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding: 40px;
    margin: auto;
    
}
.sidebar{
    height: 100vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
    position: sticky;
    top: 0px;
}
.maincontent{
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;    
}
.profile img{
    height: 115px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}

.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #ffbf00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}
.profile{
    text-align: center;
}
/* contact */
.contact{
    margin-top: 30px;
    border-top: 1px solid ;
    padding-top: 20px ;
}
.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;   
}

.value{
    color: #e0e0e0;
    text-decoration: none;
}
.email,.phone{
    margin-bottom: 15px;
}


/* social */
.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;

}

.social img{
    height: 24px;
    width: 24px;
    margin-left: 5px;
    /* background-color: #a0a0a0; */
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}
.social img:hover{
     filter: grayscale(0) invert(0); 
}

/* ***************** Main Content ************* */

/* Navigation */
#navigation{
    /* margin: 30px; */
    padding:10px;
    border-bottom: 2px solid #3a3a3a;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* background-color: #1e1e1e; */
    background-color: #2a2a2a;

}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 30px;  
    background-color: #2a2a2a;
     
}
nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
    

}
.active{
    color: #ffbf00;
}
.active,nav a:hover{
    color: #ffbf00;
}

.head2{
    color: #e0e0e0;
    font-size: 2em;
    margin-bottom: 15px;
}

.line{    
    width: 60px;
    height: 5px;
    background-color: #ffbf00;
    margin-bottom: 15px;
}
.content{
    text-align: justify;
}
#about{
    margin-top: 20px;
    margin-bottom: 20px;
    
}

/* skills section */
.gird-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(120px,1fr));
    gap: 40px;
    
}
.girditem{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;    
}

.girditem img{
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(100%) contrast(1000%);
    margin-bottom: 15px;
}

.girditem h3{
    font-size: 1rem;
    font-weight: 500;
}

.gird-container :hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
}

/* Education */
#education{
    margin-top: 20px;

}

.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}
.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 5px;
}
.work{
    color: #a0a0a0;
}

.edfirst,.edsecond{
        margin-bottom: 30px;
        padding-left: 25px;
        position: relative;

}

.circle{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 3px solid #ffbf00;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 20;
}
.edtech{
    position: relative;
    margin-top: 20px;
}
.liner{
    position: absolute;
    width: px;
    top: 5px;
    bottom: 0px;
    left: 4px;
    border: 2px solid #3a3a3a;
}

/* Portfolio project */
.project-container{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    
   
}
.project-container :hover{
    transition: tranform 0.5s ease, boxshadow 0.5s ease;
    transform:translateY(-10px) ;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
} 
.project-container img{
    
    height: 200px;    
    object-fit: cover;
}
.card{
   padding: 20px; 
}
.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}
.card p{
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 20px;
}

.card span{
    background-color: rgba(255,191,0,0.1);
    color: #ffbf00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
    
}